{% extends "kanban_board/root.html" %}
{% block kanban_board_inner_content %}
    <section class="kanban-board text-gray-500 body-font bg-gray-900">
        <div class="kanban-board-grid">
            {% for column, values in kanban_board_elements.items %}
                <div class="kanban-board-column">
                    <div class="kanban-board-column-header">
                        <h2>{{ column }}</h2>
                    </div>
                    <div class="kanban-board-column-content">
                        {% for element in values %}
                        <div class="kanban-board-element border border-gray-300 p-6 rounded-lg">
                            <h2 class="text-lg text-gray-900 font-medium title-font mb-2">{{ element }}</h2>
                            {% for field in element.kanban_board_field_tuples %}
                                <p class="leading-relaxed text-base">{{ field.0 }} - {{ field.1 }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}