{% extends "kanban_board/root.html" %}
{% block kanban_board_inner_content %}
    {% for el in kanban_board_elements %}
        <p>{{ el.name }}</p>
    {% endfor %}
    <div class="kanban-board">
        <div class="kanban-board-grid">
            {% for column in kanban_board_grouped_elements %}
                <div class="kanban-board-column">
                    <div class="kanban-board-column-header">
                        <h2>{{ column.grouper }}</h2>
                    </div>
                    <div class="kanban-board-column-content">
                        {% for element in column.list %}
                        <div class="kanban-board-element">
                            {% for field in element.kanban_board_field_tuples %}
                                <p>{{ field.0 }} - {{ field.1 }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}