{% extends "kanban_board/_root.html" %}
{% regroup kanban_board_elements by kanban_board_state as kanban_board_grouped_elements %}
{% block kanban_board_content %}
    <div class="kanban-board-board">
        <div class="kanban-board-board-grid">
            {% for element in kanban_board_grouped_elements %}
                <div class="kanban-board-board-column">
                    <div class="kanban-board-board-column-header">
                        <h2>{{ element.grouper }}</h2>
                    </div>
                    <div class="kanban-board-board-column-content">
                        <div class="kanban-board-board-element">
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}